/* GENERALI */
body {
  font-family: 'Open Sans', sans-serif;
}
ul {
  list-style-type: none;
}
p {
  padding: 15px 0;
}
a {
  text-decoration: none;
  display: block;
}
.container {
  padding: 25px 0;
}
.border-lr {
  border-left: 1px solid black;
  border-right: 1px solid black
}
.text-center {
  text-align: center;
}
.text-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

/* HEADER*/
/* navigation*/
nav {
  text-transform: uppercase;
}

nav ul {
  text-align: right;
}
nav ul li {
  display: inline-block;
  padding: 0 10px;
  font-size: 13px;
}
nav .container {
  padding: 25px 75px;
}
nav a {
  text-decoration: none;
  color: black;
}
nav img {
  width: 80px;
}
nav i.fas.fa-bars {
  display: none;
}
/* fine navigation*/

/* inizio jumbotron*/
header .jumbotron {
  background-image: url(../img/jumbotron.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 480px;
  position: relative;
}
header .text-absolute h1 {
  font-size: 2.9em;
}
/* fine jumbotron*/

/* MAIN */
/* inizio product*/
main #product [class*="col-"] {
  background-color: #FAFAFA;
  text-align: center;
  padding: 20px 0;
  border: 15px solid white;
}
main #product img {
  width: 100%;
}
/* fine product*/

/* inizio work*/
main #work .work-img {
  background-image: url(../img/HelbizBanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
}
main #work img {
  height: 500px;
  margin-top: -350px;
}
main #work [class*="col-"] {
  margin-top: 70px;
}
main #work .container [class*="col-"]:first-child {
  padding-left: 241px;
}
main #work .container [class*="col-"] p {
  padding: 0;
}
/* fine work*/

/* inizio smart*/
main #smart img {
  width: 100%;
}
main #smart a {
  color: white;
}
main #smart .relative {
  position: relative;
  margin-bottom: 25px;
}
main #smart .text-absolute.top {
  left: 75%;
}
main #smart .text-absolute h2 {
  font-size: 2.2em;
}
main #smart .text-absolute.bottom {
  top: 110px;
}
main #smart .color-background {
  background-color: #3B4E60;
  border-right: 8px solid white;
}
main #smart .color-background img {
  margin-top: 54%;
  margin-bottom: -5px;
}
main #smart .left {
  border-left: 8px solid white;
}
/* fine smart*/

/* inizio family*/
main #family .family-bottom-relative {
  background-image: url(../img/Social-Banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 285px;
  position: relative;
}
main #family .relative {

}
main #family .text-absolute {
  color: black;
  background-color: white;
  padding: 25px 0;
  width: 300px;
  height: 130px;
}
main #family ul li {
  display: inline-block;
  font-size: 27px;
  padding: 8px;
}
/* fine family*/

/* FOOTER */
footer {
  background: black;
  color: white;
  margin-top: 30px;
}
footer img {
  width: 100px;
}
footer a {
  color: #696969;
}
footer ul li {
  padding: 8px 0;
}
footer hr {
  border: 1px solid #696969;
  width: 95%;
}
.footer {
  padding-left: 100px;
}
.footer [class*="col-"] {
  padding: 50px 0;
}
footer ul.social li {
  display: inline-block;
  padding-right: 10px;
  padding-top: 0;
  font-size: 20px;
}
footer .mid a {
  color: white;
}
footer .app img {
  width: 150px;
  border-radius: 10px;
  border: 1px solid white;
  margin-top: 30px;
}


/* MEDIA QUERY */
/* mobile */
@media all and (max-width: 767px){
  nav ul {
    display: none;
  }
  nav i.fas.fa-bars {
    display: block;
    line-height: 25px;
    text-align: right;
  }
  header .text-jumbotron img {
    width: 120px;
  }

  header .text-jumbotron h1 {
    font-size: 2em;
  }
  
  main #work img {
    display: none;
  }
  main #work .container [class*="col-"] {
    text-align: center;
  }
  main #work .container [class*="col-"]:first-child {
    padding-left: 0;
  }
  main #smart .text-absolute.top {
    left: 50%;
    font-size: 12px;
  }
  main #smart .color-background,
  main #smart .left {
    border: 0px;
  }

  footer .footer {
    padding: 0;
    text-align: center;
  }
}

/* tablet */
@media all and (min-width: 768px)
and (max-width: 993px){
  nav ul {
    display: none;
  }
  nav i.fas.fa-bars {
    display: block;
    line-height: 25px;
    text-align: right;
  }
  main #work .container [class*="col-"] {
    text-align: center;
  }
  main #work .container [class*="col-"]:first-child {
    padding-left: 0;
  }
  main #smart .text-absolute.top {
    left: 50%;
  }
}
